$roboto: 'Roboto', sans-serif;

$off-white: #e2e8ff;
$lighter-blue: #d6f4ff;
$light-blue: #94d7ef;
$blue: #379af5;

$charcoal-light: #818195;
$charcoal: #44444d;
$charcoal-dark: #2a2828;

$white: #fff;
$black: #000;
